@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
  font-family: "Roboto", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
    
}
.upper-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: white;
}
.details{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.highlight{
  display: flex;
  gap: 20px;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  background-color: rgb(60, 59, 59);
  color: white;
}
.highlight h6{
  padding: 10px 30px;
  height: 30px;
  transition: 0.2s ease-in-out;
}
.highlight h6:hover{
  background-color: black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
#java{
  background-color: #04AA6D;
}
.search-box{
  display: flex;
  align-items: center;
}
.search-box input{
  height: 27px;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;border: 2px groove black;
  border-right: none;
  
}
#search-button{
  height: 27px;
  padding: 4px;
  margin-left: -5px;
  border-radius: 0px 10px 10px 0px ;
  border: 2px groove black;
  border-left: none;
}
.login{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  background-color: rgb(161, 164, 158);
  height: 40px;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.sign-up{
  background-color: #04AA6D;
  text-align: center;
  padding: 10px;
  margin-left: -20px;
  border-radius: 30px;
}
main{
  display: flex;
  flex-direction: row;
  margin-top: 85px;
}
.side-nev{
  position: fixed;
  background-color: rgb(237, 230, 230);
  margin-top: -5px;
  border-right: 2px solid black;
}
.text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}
.text-section h3{
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text-section a{
  height: 50px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  padding: 15px 20px;
}
.text-section a:hover{
  background-color: rgb(192, 187, 181);
}
.about{
  margin-left: 300px;
  line-height: 25px;
  margin-bottom: 25px;
}
.about h2{
  margin: 20px 0px;
}
.about li{
  margin-left: 25px;
  margin-bottom: 15px;
}
.about pre
{
  background-color: rgb(236, 216, 192);
  padding: 10px;
  text-align: start;
}